extends layout

block header
    include inc/admin-nav
        
block content
    
    section
        table.table.table-striped
            thead
                tr.panel.panel-default
                    td Nom
                    td Status
                    td Actions
            tbody

            each post in posts
                tr
                    td
                        a(href="/admin/posts/#{post._id}")
                            #{post.title}
                    td
                        p #{post.url}
                    td
                        div.btn-group
                            button(type="button" class="btn btn-primary") Left
                            button(type="button" class="btn btn-default") Middle
                            button(type="button" class="btn btn-danger") Right

        